<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Language Analytics</title>

  </head>
  <body>
    <label for="languageSelector">Select a Language:</label>
    <select id="languageSelector">
      <option value="">All Languages</option>
      <option value="ar">Arabic</option>
      <option value="cn">Chinese</option>
      <option value="da">Danish</option>
      <option value="de">German</option>
      <option value="el">Greek</option>
      <option value="en">English</option>
      <option value="es">Spanish</option>
      <option value="fa">Persian</option>
      <option value="fr">French</option>
      <option value="he">Hebrew</option>
      <option value="hi">Hindi</option>
      <option value="hu">Hungarian</option>
      <option value="id">Indonesian</option>
      <option value="is">Icelandic</option>
      <option value="it">Italian</option>
      <option value="ja">Japanese</option>
      <option value="ko">Korean</option>
      <option value="la">Latin</option>
      <option value="nb">Norwegian</option>
      <option value="nl">Dutch</option>
      <option value="no">Norwegian</option>
      <option value="pl">Polish</option>
      <option value="pt">Portuguese</option>
      <option value="ro">Romanian</option>
      <option value="ru">Russian</option>
      <option value="sr">Serbian</option>
      <option value="sv">Swedish</option>
      <option value="te">Telugu</option>
      <option value="th">Thai</option>
      <option value="tr">Turkish</option>
      <option value="zh">Chinese (Simplified)</option>
      
    </select>
    <h1>Language Analytics</h1>
    <p>View the distribution of revenue by language.</p>
    <!-- <select id="language-select"></select> -->
    <!-- <canvas id="languagechart" width="1130" height="564" style="display: block; box-sizing: border-box; height: 282px; width: 565px;"></canvas> -->
    <!-- <div id="languagechart"></div> -->
<!-- <div id="language_chart">
        <div id="chart-container">
      <canvas id="languagechart"></canvas>
    </div> -->

      <canvas id="myChart"></canvas>
      <script>
              </script>
      

<!-- /Users/Crisaldry/Documents/Project_3_Final/project-3/static/js/languages.js -->
<script src="static/js/languages2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


  </body>

</html>
